.bg_col{
  background-color: #222D32;
}

.mt_150{
  margin-top: 150px;
}

.mt_20{
  margin-top:20px; 
}
.table.table-bordered th,
.table.table-bordered td{
  text-align: center;
  vertical-align: middle;
}


.panle_title{
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
}

.red{
  color: #a94442;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a:link,
a:valid,
a:hover,
a:active{
  text-decoration: none;
}




/*侧边栏*/
.lt_aside{
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 1s;
}

.lt_aside.hiedmenu{
  left:-180px;
}

/*设置侧边栏的头部*/
.lt_aside .title{
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background-color: #367FA9;
}

/*设置侧边栏的用户*/
.lt_aside .user{
  padding-top: 30px;
  display: block;
}

.lt_aside .user img{
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.lt_aside .user p{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

/*设置侧边栏的导航*/
.lt_aside .nav{
  padding-top: 20px; 
}

.lt_aside .nav li a{
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color:#fff; 
  padding-left: 40px;
  border-left: 3px solid transparent;
}

.lt_aside .nav li a i{
  margin-right: 1px;
}

.lt_aside .nav .child{
  display: none;
}


.lt_aside .nav .child a{
  padding-left: 60px;
}

.lt_aside .nav li a.active{
  background-color: #1D1F21;
  border-left: 3px solid #069;
}

/*设置主体部分的头部区域**/
.lt_main {
  padding-left: 180px;
  padding-top: 50px; 
  transition: all 1s;
}
.lt_main.hiedmenu{
  padding-left: 0px;
}

.lt_main .lt_topbar{
  width: 100%;
  height: 50px;
  background-color: #3C8DBC;
  position: fixed;
  top: 0;
  left: 0;
  padding-left:180px; 
  z-index: 998;
  transition: all 1s;
}

.lt_topbar.hiedmenu{
  padding-left:0px; 
}


.lt_main .topbar_left,
.lt_main .topbar_right{
  display: block;
  color: #fff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}









