html,body{

  height: 100%;
  padding: 0;
  margin: 0;
}
.lt_container{
  height: 100%;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  background-color: pink;
  position: relative;
  margin: 0 auto;
  padding-top:45px;
  padding-bottom: 55px; 
}

/* 设置头部样式 */

.lt_header{
  width: 100%;
  height: 45px;
  background-color: #069;
  position: absolute;
  top: 0;
  padding: 0px 45px;
}

.lt_header .lt_left,
.lt_header .lt_right{
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  position: absolute;
  top: 0;
  color: #fff;
}
.lt_header .lt_left{
  left: 0;
}

.lt_header .lt_right{
  right: 0;
}

.lt_header  h3{
  font-weight: normal;
  text-align: center;
  color: #fff;
  line-height: 45px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}



/* 设置内容区域的样式 */
.lt_content{
  width: 100%;
  height: 100%;
  background-color: #0ff;
}



/* 设置尾部样式 */
.lt_footer{
  width: 100%;
  height: 55px;
  background-color: #069;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.lt_footer a{
  width: 25%;
  float: left;
  color: #fff;
  margin-top:8px; 
}
.lt_footer p{
  color: #fff;
}







