.lt_sort{
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #EEEEEE;
  padding: 0 10px;
}


.lt_sort a{
  display: block;
  width: 25%;
  float: left;
  font-size: 12px;
  color: #666;
}

